*{
    border:sold;
}


body{
    background-color:#1F2937;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0px;
}

.topbar-container{
    display:flex;
    color:white;
    width:75vw;
    padding-bottom:150px;
    justify-content: space-between;
}
header{
    font-size:24px;
    color:#F9FAF8;
    font-weight: bolder;
    align-self: center;
}
.topbar-list{
    list-style:none;
    display:flex;
    font-size:18px;
    gap:40px;
}
a{
    text-decoration:none;
    color:white;
}

.main-container{
    display:flex;
    width:75vw;
    color:white;
    gap:40px;
    padding-bottom:200px;
}

.header-left{
    display: flex;
    flex-direction: column;
    margin:0px;
    justify-content: space-between;
}
h1{
    font-size: 56px;
    color:#F9FAF8;
    margin:inherit;
}
p{
    font-size:18px;
    color:#E5E7EB;
    margin:inherit;
}
button,
.blue{
    font-size: 20px;
    color:white;
    background-color:#3882F6;
    border-style: none;
    border-radius:10px;
    padding: 10px 40px;
}
.header-right{
    height:300px;
}
img{
    width:auto;
    height:inherit;
}

.info-container{
    width:100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:20px;
    padding-top:50px;
    padding-bottom:120px;
}
.info-header{
    font-size: 36px; 
    font-weight:bolder; 
    color: #1F2937;
}
.info-subcontainer{
    display:flex;
    list-style:none;
    font-size:18px;
    padding:0;
    gap:80px;
}
.info-list{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    text-align:center;
    width:180px;
    gap:10px;
}
.info-box{
    height:180px;
    width:180px;
    border: 4px solid #3882F6;
    border-radius:20px;
}

.quote-container{
    display:flex;
    flex-flow:column wrap;
    width:100vw;
    background-color:#E5E7Eb;
}
.quote{
    display:flex;
    flex-direction:column;
    font-size:36px;
    width:60vw;
    font-style:italic;
    font-weight:light;
    color:#1F2937;
    align-self: center;
    padding:120px 0;
}
.quote-author{
    align-self:flex-end;
    font-size:24px;
    font-style:normal;
    font-weight:bolder;
}

.signup-container{
    width:100vw;
    background-color: white;
    display: flex;
    justify-content:center;
    padding-top:120px;
    padding-bottom:120px;
}
.signup-subcontainer{
    background-color:#3882F6;
    border-radius:10px;
    width:75vw;
    height:20vh;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:30vw;
}
.signup-left{
    font-size: 24px;
    color: #F9FAF8;
}

.footer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:10vh;
    color:white;
}